// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ello button

$gutter_px:       30px;
$white:           white;
$black:           black;
$grey1:           #f1f1f1;
$grey2:           #e5e5e5;
$grey3:           #aaa;
$smallColumn_px:  20px;

@mixin vertical_align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border_radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

  span {
    &.label {
      &.sub {
        color: $grey3;
      }
    }
  }

  .step {
    margin-bottom: $smallColumn_px;

    &:last-child {
      margin-bottom: 0;
    }

    &.two {
      .option {
        display: block;
        margin-bottom: $gutter_px;
        width: 100%;
        clear: both;

        .button,
        .code {
          display: block;
          width: 50%;
          float: left;

          @media only screen and (max-width : 539px) {
            width: 100%;
            float: none;

          }

          .label {
            display: block;
            margin-bottom: 0.25rem;
            width: 100%;
            clear: both;
          }
        }

        .code {
          padding-left: ($gutter_px / 2);
          @media only screen and (max-width : 539px) {
            padding-left: 0;
            margin-top: 24px;
          }

          textarea {
            margin-bottom: $smallColumn_px;
            width: 100%;
            height: 210px;
            font-family: "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;

            @media only screen and (max-width : 539px) {
              height: 140px;
            }
          }
        }
        .button {
          padding-right: ($gutter_px / 2);
          @media only screen and (max-width : 539px) { padding-right: 0; }

          .button-holder {
            display: block;
            width: 100%;
            height: 280px;
            background-color: $grey2;

            span {
              &.icon {
                margin: 0 auto;
                display: block;
                width: 40px;
                @include vertical_align;
                svg {


                  width: 100%;
                  @include border_radius(40px);

                  path {
                    &.svg__bg {
                      fill: $black;
                    }
                    &.svg__fg {
                      fill: $white;
                    }
                  }
                }
              }
            }
          }
        }
        &.white {
          .button {
            .button-holder {
              background-color: $black;
              span {
                &.icon {
                  svg {
                    path {
                      &.svg__bg {
                        fill: $white;
                      }
                      &.svg__fg {
                        fill: $black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
