<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body id="ello-icon">
  <%= erb :_ello_icon, :locals => { color: @color, username: @username, size: @size } %>
  <% unless @skip_analytics %>
    <%= erb :_analytics, :locals => { color: @color, username: @username } %>
  <% end %>
</body>
