<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body id="ello-icon">
  <%= erb :_ello_icon, :locals => { color: @color, username: @username } %>
  <%= erb :_analytics, :locals => { color: @color, username: @username } %>
</body>
