#ello-icon {
  padding: 0;
  margin: 0;
}

span.icon {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(0);
}

span.icon.small {
  width: 18px;
}

span.icon.medium {
  width: 24px;
}

span.icon.large {
  width: 40px;
}

span.icon svg {
  width: 100%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

span.icon.black svg path.svg__bg {
  fill: black;
}

span.icon.black svg path.svg__fg {
  fill: white;
}

span.icon.white svg path.svg__bg {
  fill: white;
}

span.icon.white svg path.svg__fg {
  fill: black;
}
